.modal :global(.modal-content) {
  background-color: #2e3958 !important;
  color: #e5e7eb !important;
  border-radius: 12px !important;
  padding: 30px;
}

.modalHeader {
  border: none !important;
}

.modalTitle {
  font-weight: bold;
  color: #00bcd4;
  text-align: center;
}

.modalBody {
  color: #cbd5e1;
  text-align: center;
  font-size: 1.1rem;
  padding: 20px;
}