.dataTableContainer {
    background: #070911ff;
    padding: 12px;
    border-radius: 12px;
    overflow-x: auto;
    max-width: 100%;
}

.input {
    background-color: white;
    border: 1px solid #2c2f3a;
    color: #2c2f3a;
    padding: 10px 12px;
    border-radius: 8px;
}

.input:focus {
    border: 2px solid #00bcd4;
    box-shadow: 0 0 5px #00bcd4;
    color: #00bcd4;
    outline: none;
}

.tableTitle {
  font-size: 22px;
  font-weight: 700;
  color: #fff;
}